.cart {
	margin-top: 75px;

	&__title {
		font-weight: 300;
		font-size: 20px;
		line-height: 23px;
		color: $darkColor;
		margin-bottom: 30px;
	}

	&__order {
		display: flex;
	}

	&__column {
		flex: 1 1 50%;
	}

	&__item {
		display: flex;
	}

	&__img {
		margin-right: 20px;
		align-items: center;
		width: 150px;
		min-height: 100%;
		img {
			border-radius: 5px;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__name {
		font-weight: 300;
		@include adaptive-font(28, 20);
		color: $darkColor;
		&:hover {
			color: #4d4343;
		}
	}

	&__size {
		margin-top: 15px;
		font-weight: 400;
		@include adaptive-font(20, 17);
		line-height: 19px;
		color: $darkColor;
		margin-bottom: 130px;
	}

	&__amount {
		display: flex;
		align-items: center;
		gap: 20px;
	}

	button {
		width: 50px;
		height: 50px;
		border: 1px solid rgb(210, 211, 212);
		border-radius: 50%;

		&:hover {
			border: 2px solid rgb(210, 211, 212);
		}
	}

	&__minus {
		display: flex;
		justify-content: center;
		align-items: center;
		&:disabled {
			border: 0;
			cursor: unset;
			&:hover {
				border: 0;
			}
		}
	}

	&__number {
		font-size: 28px;
	}

	&__plus {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__block {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
	}

	&__trashbin {
		margin-bottom: 180px;
	}

	&__price {
		font-weight: 600;
		@include adaptive-font(20, 17);
		line-height: 19px;
		color: $darkColor;
	}

	&__empty {
		margin-top: 74px;
		text-align: center;
		display: flex;
		justify-content: center;
		align-items: center;

		h2 {
			@include adaptive-font(35, 25);
			font-weight: 400;
			text-transform: uppercase;
			letter-spacing: 8px;
			line-height: 30px;
			margin-bottom: 20px;
		}
		p {
			font-weight: 200;
			@include adaptive-font(28, 20);
			color: $darkColor;
		}

		img {
			margin-bottom: 15px;
			width: 70%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__button-back {
		width: 80%;
		height: 50px;
		background-color: $skinColor;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 50px;
		margin: 0 auto;
		margin-top: 30px;

		span {
			font-weight: 600;
			@include adaptive-font(16, 12);
			line-height: 19px;
			text-align: center;
			text-transform: uppercase;
			color: #ffffff;
			letter-spacing: 2px;
		}
	}

	&__hr {
		border: 0.3px solid $darkColor;
		opacity: 0.1;
		margin: 12px 0 14px 0;
	}

	&__fullsum {
		display: flex;
		justify-content: flex-end;
		font-weight: 300;
		font-size: 16px;
		line-height: 19px;
		gap: 10px;
		color: $darkColor;
		span {
			font-weight: 700;
			font-size: 16px;
			line-height: 19px;
			color: $darkColor;
		}
	}
}

.order {
	margin-top: 70px;
	&__title {
		font-weight: 300;
		font-size: 20px;
		line-height: 23px;
		color: $darkColor;
		margin-bottom: 30px;
	}

	&__row {
		display: flex;
		flex-wrap: wrap;
	}

	&__column {
		flex: 1 1 72%;
		&:last-child {
			flex: 1 1 28%;
		}
	}

	&__style {
		font-weight: 300;
		@include adaptive-font(16, 15);
		line-height: 19px;
		color: $darkColor;
		margin-bottom: 15px;

		span {
			font-weight: 700;
			@include adaptive-font(16, 14);
			line-height: 19px;
			color: $darkColor;
		}
	}

	&__button {
		width: 100%;
		height: 50px;
		background: $skinColor;
		cursor: pointer;
		margin-bottom: 15px;
		span {
			font-family: "Raleway";
			font-weight: 300;
			font-size: 16px;
			line-height: 19px;
			text-align: center;
			text-transform: uppercase;
			color: #ffffff;
		}
	}

	&__politics {
		font-weight: 300;
		font-size: 14px;
		line-height: 16px;
		color: $darkColor;
	}
}

.data {
	&__label {
		font-weight: 300;
		@include adaptive-font(16, 15);
		line-height: 19px;
		color: $darkColor;
		margin-bottom: 20px;
	}

	&__column {
		display: flex;
		p {
			width: 100%;
		}
	}

	&__input {
		width: 100%;
		height: 50px;
		border: 0.5px solid #aeaeae;
		padding: 16px 10px 15px 19px;
		font-weight: 200;
		@include adaptive-font(16, 14);
		line-height: 19px;
		color: rgba(37, 37, 37, 0.5);
		margin-bottom: 20px;
		&:focus {
			border-color: $skinColor;
		}
	}

	&__delivery {
		display: flex;
		align-items: center;
		margin-right: 10px;
		width: 17px;
		height: 17px;
	}

	&__delivery-type {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		margin-bottom: 20px;
		p {
			flex: 0 1 50%;
			font-weight: 300;
			font-size: 16px;
			line-height: 19px;
			color: $darkColor;
		}
	}

	&__payment {
		display: flex;
		align-items: center;
		margin-right: 10px;
		width: 17px;
		height: 17px;
	}
}

.fieldset {
	border: none;

	input {
		margin-right: 20px;
	}

	&__item {
		display: flex;
		align-items: center;
		flex: 0 1 50%;
		margin-bottom: 20px;
	}

	&__item-hidden {
		display: none;
	}
}

.text {
	font-weight: 300;
	@include adaptive-font(16, 14);
	line-height: 19px;
	color: $darkColor;
}

@media (max-width: $breakpoint992) {
	.cart {
		button {
			width: 40px;
			height: 40px;
		}
	}
	.order {
		margin-top: 50px;
		&__column {
			flex: 1 1 100%;
			&:last-child {
				margin-top: 20px;
			}
		}
	}
}

@media (max-width: $breakpoint768) {
	.data {
		&__column {
			display: block;
		}
		&__delivery-type {
			display: none;
		}
	}

	.fieldset {
		&__item-hidden {
			font-weight: 300;
			font-size: 16px;
			line-height: 19px;
			color: #252525;
			display: block;
			margin-bottom: 20px;
		}
	}
}

@media (max-width: $breakpoint425) {
	.cart {
		&__order {
			flex-wrap: wrap;
		}
		button {
			width: 35px;
			height: 35px;
		}
		&__block {
			margin-top: 10px;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
		}
		&__trashbin {
			margin-bottom: 0;
		}
		&__number {
			font-size: 24px;
		}
		&__amount {
			gap: 12px;
		}
	}
}
