.catalog {
	margin-top: 75px;

	&__filter-items {
		margin-bottom: 50px;
		display: flex;
		flex-wrap: wrap;
	}

	&__filter-item {
		display: flex;
		flex: 0 1 28%;

		&:first-child {
			flex: 0 1 72%;
		}
		align-items: center;
	}

	&__title {
		margin-bottom: 40px;
		font-weight: 300;
		font-size: 20px;
		line-height: 23px;
		color: $darkColor;
	}

	&__search {
		display: flex;

		align-items: center;
		position: relative;
		margin-right: 25px;
		input {
			width: 240px;
			height: 40px;
			border: 0.5px solid #b5b5b5;
			border-radius: 20px;
			font-weight: 300;
			font-size: 16px;
			line-height: 19px;

			color: $darkColor;
			padding-left: 20px;
			&:focus {
				border-color: $skinColor;
			}
		}
		svg {
			position: absolute;
			right: 20px;
		}
	}

	&__filter {
		position: relative;
		z-index: 50;
		font-weight: 300;
		font-size: 17px;
		line-height: 21px;
		cursor: pointer;
		color: #0c0c0c;
		display: flex;
		align-items: center;
		svg {
			margin-left: 9px;
		}

		@include noselect;
	}

	&__popup {
		position: absolute;
		top: 21px;
		right: 0;
		margin-top: 15px;
		background: #efefef;
		box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.09);
		border-radius: 10px;
		overflow: hidden;
	}

	&__item {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -30px;
	}

	&__category {
		display: flex;
		align-items: center;
		li {
			border-radius: 30px;
			padding: 3% 8%;
			cursor: pointer;
			font-size: 16px;
			background-color: #e1e1e1;
			transition: background-color 0.2s ease-in-out;
			line-height: 19px;
			margin-right: 8%;
			font-weight: 600;

			&.active {
				background-color: $skinColor;
				color: #ffffff;
			}

			&:hover {
				background-color: darken(#e1e1e1, 2%);
				&.active {
					background-color: darken($skinColor, 2%);
				}
			}

			@include noselect;
		}
	}
}

.popup {
	&__items {
		font-weight: 300;
		font-size: 16px;
		color: $darkColor;
		li {
			text-align: center;
			padding: 10px 35px;
			cursor: pointer;
			transition: 0.2s;
			&.active,
			&:hover {
				background: $skinColor;
				color: #ffffff;
			}
			&.active {
				font-weight: bold;
			}
		}
	}
}

.item {
	&__body {
		flex-wrap: wrap;
		flex: 0 1 33.3333%;
		transition: 0.3s;
		padding: 0 30px;
		margin-bottom: 50px;

		&:hover {
			transform: scale(1.04);
		}
	}

	&__img {
		position: relative;
		padding-bottom: 145%;
		cursor: pointer;

		img {
			position: absolute;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__favorite {
		position: absolute;
		top: 0;
		right: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 40px;
		height: 40px;
		background: $skinColor;
		border-radius: 0px 0px 0px 20px;
		&:hover {
			path {
				fill: #000000;
			}
		}
	}

	&__info {
		text-align: center;
	}

	&__title {
		margin-top: 15px;
		font-weight: 300;
		font-size: 16px;
		line-height: 19px;
		color: $darkColor;
	}

	&__price {
		margin-top: 5px;
		font-weight: 700;
		font-size: 16px;
		line-height: 19px;
		color: $darkColor;
	}

	&__sizes {
		margin-top: 5px;
		font-weight: 300;
		font-size: 16px;
		line-height: 19px;
		color: rgba(37, 37, 37, 0.5);
	}
}

@media (max-width: $breakpoint1440) {
	.catalog {
		&__filter-items {
			flex-direction: column-reverse;
		}

		&__filter-item {
			justify-content: center;

			flex: 0 1 100%;
			&:first-child {
				flex: 0 1 100%;
			}
			&:last-child {
				display: flex;
				justify-content: space-between;
				margin-bottom: 50px;
			}
		}

		&__category {
			display: flex;
			justify-content: center;
		}

		&__search {
			width: 30%;
		}
	}
}

@media (max-width: $breakpoint992) {
	.catalog {
		&__filter-items {
			margin-bottom: 40px;
		}

		&__filter-item {
			&:last-child {
				margin-bottom: 40px;
			}
		}

		&__categories {
			overflow: auto;
			width: 100%;

			&::-webkit-scrollbar {
				width: 0;
			}
		}
		&__category {
			justify-content: flex-start;
			li {
				padding: 1.3% 3%;
				margin-right: 2%;
			}
		}
		&__item {
			margin: 0 -20px;
		}
	}

	.item {
		&__body {
			padding: 0 20px;
		}
	}
}

@media (max-width: $breakpoint768) {
	.catalog {
		&__title {
			margin-bottom: 30px;
		}

		&__filter-items {
			margin-bottom: 30px;
		}

		&__filter-item {
			&:last-child {
				margin-bottom: 40px;
			}
		}
		&__item {
			margin: 0 -15px;
		}
		&__category {
			li {
				@include adaptive-font(16, 14);
			}
		}
	}
	.item {
		&__body {
			flex: 0 1 50%;
			padding: 0 15px;
			margin-bottom: 30px;
		}

		&__favorite {
			width: 35px;
			height: 35px;
		}

		&__title {
			margin-top: 10px;
			@include adaptive-font(16, 14);
		}

		&__price {
			margin-top: 2px;
			@include adaptive-font(16, 14);
		}

		&__sizes {
			margin-top: 2px;
			@include adaptive-font(16, 14);
		}
	}
}

@media (max-width: $breakpoint425) {
	.catalog {
		&__filter-items {
			margin-bottom: 20px;
		}

		&__title {
			margin-bottom: 20px;
		}

		&__filter-item {
			&:last-child {
				flex-wrap: wrap;
				margin-bottom: 30px;
			}
		}

		&__search {
			margin-bottom: 20px;
			width: 100%;
			input {
				width: 100%;
			}
		}

		&__filter {
			left: 5px;
			flex: 0 1 100%;
		}

		&__item {
			margin: 0 -5px;
		}
		&__popup {
			top: 21px;
			left: 0;
			width: 60%;
		}
	}

	.item {
		&__body {
			padding: 0 5px;
			margin-bottom: 20px;
		}

		&__favorite {
			width: 30px;
			height: 30px;
		}
	}
}
