.contacts {
	margin-top: 87px;
	&__title {
		margin-bottom: 30px;
		font-weight: 300;
		font-size: 20px;
		line-height: 23px;
		color: $darkColor;
	}

	&__row {
		display: flex;
		justify-content: space-between;
	}

	&__top {
		font-weight: 300;
		font-size: 16px;
		line-height: 19px;
		color: $darkColor;
		margin-bottom: 20px;
	}

	&__bottom {
		font-weight: 200;
		font-size: 16px;
		line-height: 19px;
		color: $darkColor;
		a {
			transition: 0.3s;
			path {
				transition: 0.3s;
			}
			margin-right: 15px;
			&:last-child {
				margin-right: 0;
			}
			&:hover {
				path {
					fill: $skinColor;
				}
				color: $skinColor;
			}
		}
	}

	&__tel {
		margin-bottom: 20px;
	}
}

@media (max-width: $breakpoint768) {
	.contacts {
		&__row {
			flex-wrap: wrap;
			text-align: center;
		}
		&__column {
			margin-bottom: 30px;
			flex: 1 1 100%;
			&:last-child {
				margin-bottom: 0;
			}
		}
		&__top {
			@include adaptive-font(28, 17);
		}
		&__tel {
			@include adaptive-font(20, 17);
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}
