.header {
	position: relative;
	width: 100%;

	&__logo {
		padding-top: 25px;
		position: absolute;
		top: 50%;
		right: 50%;
		transform: translate(50%, -50%);
		span {
			font-size: 50px;
			text-transform: uppercase;
			color: #ffffff;
		}
	}
}

.menu {
	&__body {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-top: 34px;
	}

	&__list {
		display: flex;
		align-items: center;
		gap: 45px;
	}

	&__link {
		position: relative;
		font-weight: 300;
		font-size: 18px;
		line-height: 21px;
		color: #ffffff;

		transition: 0.3s;

		path {
			transition: 0.3s;
		}

		&:hover {
			color: #e0bea2;
			path {
				fill: #e0bea2;
			}
		}

		&_m {
			color: #252525;
		}
	}

	&__counter {
		position: absolute;
		top: -75%;
		right: -45%;
		width: 20px;
		height: 20px;
		display: flex;
		align-items: center;
		justify-content: center;
		border: 1px solid #d1d0cf;
		background-color: #c29166;
		border-radius: 50%;
		font-size: 12px;
		font-weight: 600;
		color: #fff;
	}
}

.hidden {
	visibility: hidden;
}
