.header {
	position: relative;
	width: 100%;

	&__logo {
		padding-top: 24px;
		position: absolute;
		top: 50%;
		right: 50%;
		transform: translate(50%, -50%);
		span {
			font-size: 50px;
			text-transform: uppercase;
			color: #ffffff;
		}
	}
}

.menu {
	&__body {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-top: 34px;
	}

	&__list {
		display: flex;
		align-items: center;
		column-gap: 45px;
	}

	&__link {
		font-weight: 300;
		font-size: 18px;
		line-height: 21px;
		color: #ffffff;
	}
}
