.refund {
	margin-top: 89px;
	&__row {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -15px;
	}

	&__label {
		font-weight: 300;
		@include adaptive-font(16, 15);
		line-height: 20px;
		color: $darkColor;
		margin-top: 20px;
	}

	&__terms {
		font-weight: 300;
		@include adaptive-font(16, 15);
		line-height: 19px;
		color: $darkColor;
		margin-top: 10px;
	}

	&__title {
		font-weight: 300;
		font-size: 20px;
		line-height: 23px;
		color: $darkColor;
	}

	&__column {
		margin-top: 50px;
		flex: 1 1 16.666%;
		text-align: center;
		padding: 0 15px;
	}

	&__img {
		margin-bottom: 10px;
	}

	&__description {
		font-weight: 300;
		@include adaptive-font(16, 14);
		line-height: 20px;
		color: $darkColor;
		margin: 0 auto;
		max-width: 190px;
	}
}

@media (max-width: $breakpoint1024) {
	.refund {
		&__column {
			flex: 1 1 30%;
			padding: 0 10px;
		}
		&__row {
			margin: 0 -10px;
		}

		&__description {
			max-width: 250px;
		}
	}
}

@media (max-width: $breakpoint768) {
	.refund {
		margin-top: 79px;

		&__column {
			flex: 1 1 50%;
			margin-top: 40px;
		}
		&__description {
			max-width: 280px;
		}
	}
}

@media (max-width: $breakpoint425) {
	.refund {
		&__column {
			flex: 1 1 100%;
		}
	}
}
