@import "./libs/normalize";
@import "./components/all";

body {
	font-family: "Raleway", sans-serif;
}

.wrapper {
	overflow: hidden;
}

.container {
	max-width: 1500px;
	padding: 0 15px;
	margin: 0 auto;
}
