@import "./libs/normalize";
@import "./components/all";

body {
	font-family: "Raleway", sans-serif;
	background: #eeeeee;
}

.wrapper {
	overflow: hidden;
}

.container {
	max-width: 1500px;
	padding: 0 15px;
	margin: 0 auto;
}

.active-svg {
	transform: rotate(180deg);
	transition: transform 0.4s;
}

.default-svg {
	transform: rotate(0deg);
	transition: transform 0.4s;
}

.svg-rotate {
	transform: rotate(180deg);
}
